@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-theme-color:#001351;
    --secondary-theme-color:#ed563b;
    --primary-text-color: #ffffff;
    --secondary-text-color: #212529;
    --placeholder-color: #00000090;
}

/* global css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

span {
    color: var(--secondary-theme-color);
}

.active {
    color: var(--secondary-theme-color) !important;
}

.button {
    color: var(--primary-text-color) !important;
    background-color: var(--secondary-theme-color);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.5s !important;
}

.button:hover {
    background-color: var(--primary-theme-color) !important;
}

#about,
#programs,
#trainers,
#contact {
    padding: 100px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title h3 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-theme-color);
}

.dark h3{
    color: var(--primary-text-color) !important;
}

/* header css */
.navbar {
    background: var(--primary-text-color);
    padding: 15px 0;
    box-shadow: 0px 10px 30px #A8A8A829;
    margin: auto;
    text-align: center;
}

.navbar img{
    width: 50px;
}

.navbar-brand {
    font-size: 23px;
    font-weight: 600;
    color: var(--primary-theme-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-brand:hover{
    color: var(--primary-theme-color);
}

.navbar-brand:visited{
    color: var(--primary-theme-color);
}

.navbar-nav li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-theme-color);
    letter-spacing: 1px;
    transition: all 0.3s;
    margin: 0 10px;
}

.navbar-nav li a:hover {
    color: var(--secondary-theme-color);
    background: none;
}

/* banner css */
#banner {
    background: linear-gradient(to right, #001351 0%, #16275AD0 38%, #2E3C639D 81%, #5C667638 100%), url(../images/background-1.jpg) 0% 0% padding-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: change 10s infinite;
}

@keyframes change{
    0%
    {
        background: linear-gradient(to right, #001351 0%, #16275AD0 38%, #2E3C639D 81%, #5C667638 100%), url(../images/background-1.jpg) 0% 0% padding-box;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    20%
    {
        background: linear-gradient(to right, #001351 0%, #16275AD0 38%, #2E3C639D 81%, #5C667638 100%), url(../images/background-2.jpg) 0% 0% padding-box;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    40%
    {
        background: linear-gradient(to right, #001351 0%, #16275AD0 38%, #2E3C639D 81%, #5C667638 100%), url(../images/background-3.jpg) 0% 0% padding-box;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    60%
    {
        background: linear-gradient(to right, #001351 0%, #16275AD0 38%, #2E3C639D 81%, #5C667638 100%), url(../images/background-4.jpg) 0% 0% padding-box;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    80%
    {
        background: linear-gradient(to right, #001351 0%, #16275AD0 38%, #2E3C639D 81%, #5C667638 100%), url(../images/background-5.jpg) 0% 0% padding-box;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    100%
    {
        background: linear-gradient(to right, #001351 0%, #16275AD0 38%, #2E3C639D 81%, #5C667638 100%), url(../images/background-6.jpg) 0% 0% padding-box;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.banner-content {
    height: 731px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    text-align: center;
}

.banner-content p {
    margin-top: 70px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.banner-content h1 {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    color: var(--primary-text-color);
}

.banner-content a {
    margin-top: 25px;
}
        
/* About Section */
.about-content h1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-theme-color);
}

.about-content p {
    font-size: 20px;
    padding: 25px 0;
    text-align: justify;
    color: var(--secondary-text-color);
}

.about-image img{
    border-radius: 20px;
}

/* programs css */
#programs{
    background-color: var(--primary-theme-color);
}

.program {
    background-color: var(--primary-text-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    /* box-shadow: 1px 8px 54px #00000012; */
    transition: transform 0.2s ease-in-out;
}

.program:hover {
    transform: translateY(-15px);
}

.program-content {
    margin-left: 20px;
}

.program-content h3 {
    font-size: 25px;
    color: var(--primary-theme-color);
}

.program-content p{
    font-size: 17px;
    color: var(--secondary-text-color);
}

/* trainers css */
.trainer {
    border-radius: 10px;
    padding: 20px 0;
    margin-bottom: 30px;
    box-shadow: 1px 8px 54px #00000012;
    transition: transform 0.2s ease-in-out;
    background-color: var(--primary-theme-color);
}

.trainer:hover{
    transform: translateY(-15px);
}

.trainer-image {
    margin: auto;
    width: 200px;
    margin-bottom: 50px;
}

.trainer-image img {
    border: 5px solid var(--secondary-theme-color);
    border-radius: 50%;
}

.trainer-content {
    /* margin-top: 50px; */
    text-align: center;
}

.trainer-content h3 {
    font-weight: 600;
    font-size: 30px;
    color: var(--primary-text-color);
    margin-bottom: 20px;
}

.trainer-content p {
    /* margin-top: 20px; */
    font-weight: 500;
    font-size: 20px;
    color: var(--primary-text-color);
}

/* contact css */
#contact{
    background-color: var(--primary-theme-color);
}

.contact-details{
    margin-top: 80px;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    padding: 5px 15px;
    border-radius: 10px;
    /* box-shadow: 1px 8px 54px #00000012; */
    background-color: var(--primary-text-color);
}

.contact-image{
    border-radius: 50%;
    background-color: var(--secondary-theme-color);
    padding: 20px;
}

.contact-image i{
    font-size: 30px;
    color: var(--primary-text-color);
    margin-top: 5px;    
}

.contact-content {
    margin-left: 20px;
}

.contact-content h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    color: var(--primary-theme-color);
}

.contact-content p {
    /* margin-top: 20px; */
    font-size: 18px;
    color: var(--secondary-text-color);
}

.contact-form {
    border-radius: 10px;
    /* box-shadow: 1px 8px 54px #00000012; */
    padding: 40px;
    max-width: 500px;
    margin: auto;
    background-color: var(--primary-text-color);
}

.contact-form h1 {
    margin-top: -15px;
    font-size: 30px;
    font-weight: 600;
    color: var(--primary-theme-color);
}

.form-group {
    padding: 15px 0;
}

.contact-form form input {
    font-size: 20px;
    padding: 30px 0px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #CCCCCC;
}

.contact-form form input::placeholder {
    color: var(--placeholder-color);
}

.contact-form form input:focus {
    box-shadow: none;
}

.contact-form form textarea {
    font-size: 20px;
    padding: 30px 20px;
    border-radius: 0;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 20px;
}

.contact-form form textarea::placeholder {
    color: var(--placeholder-color);
}

.contact-form form button {
    padding: 20px 50px;
}


/* footer css */
footer {
    background: var(--primary-text-color);
}

.footer-content p {
    color: var(--primary-theme-color);
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.footer-content p a{
    text-decoration: none;
}

/* back to top button css */
#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--secondary-theme-color);
    color: var(--primary-text-color);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.5s;
}

#topButton:hover {
    background-color: var(--primary-theme-color);
}

/* media query */
@media only screen and (max-width: 992px) {

    #about,
    #programs,
    #trainers,
    #contact {
        padding: 40px 0;
    }

    .section-title {
        margin-bottom: 35px;
    }
    
    .section-title h3 {
        font-size: 30px;
    }

    .banner-content h1 {
        font-size: 50px;
    }

    .about-content h1 {
        font-size: 25px;
    }

    .about-content p {
        font-size: 18px;
        padding: 10px 0;
    }

    .program-content h3 {
        font-size: 22px;
    }
    
    .program-content p{
        font-size: 16px;
    }

    .trainer-image {
        margin-bottom: 25px;
    }

    .trainer-content h3 {
        font-size: 25px;
    }
    
    .trainer-content p {
        font-size: 18px;
    }

    .contact-details{
        margin-top: 0;
    }

    .contact {
        margin-bottom: 30px;
        padding: 0 15px;
    }
    
    .contact-image{
        padding: 18px;
    }
    
    .contact-image i{
        font-size: 27px;    
    }
    
    .contact-content h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .contact-content p {
        font-size: 17px;
    }

    .contact-form h1 {
        font-size: 25px;
    }

    .form-group {
        padding: 10px 0;
    }  
    
    .contact-form form input {
        font-size: 18px;
        padding: 25px 0px;
    }

    .contact-form form textarea {
        font-size: 18px;
        padding: 25px 5px;
        margin-bottom: 20px;
    }

    .contact-form form button {
        padding: 15px 40px;
    }
    
}
